.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
   color: white; 

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bod{
  /* background-image: url("./assets/img/bgimage.jpg"); */
  background-image: url("./assets/img/modern4.jpg");

    /* background-image:repeat; */
    background-image: no-repeat;
}

h1{
  font-family:bladeS, Arial, Helvetica, sans-serif ;
}


@font-face {
  font-family: bladeST;
  src: url('assets/font/bladesingertitle.ttf');
}
@font-face{
  font-family: bladeS;
  src: url('assets/font/bladesinger.ttf');
}