.card-title{
    max-width:350px;
border:solid;
text-align: center;
background-color:grey;
}

.card-content{
/* border:solid; */
text-decoration: underline;
}

.card-link{
border:solid;
}

/* .tito { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;;
} */