.card-title{
border:solid;
text-align: center;
background-color:gold;
}

.card-content{
/* border:solid; */
text-decoration: underline;
}

.card-link{
border:solid;
}

/* .tito { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;;
} */