
#outer_footer{
  position:sticky;
  bottom:0;
  /* margin-left: -800px; */
  /* margin-right: -800px; */

 padding:0 !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: rgb(23, 2, 37) 2px solid;
color:black;
/* added opacity to background-color style */
background-color:rgb(62, 66, 145, 0.4);

}

