
  .portfolio-img {
    max-height:350px;
    max-width:350px;
}

  @media screen and (max-width:768px) {
    main{padding-top:5rem!important;
        }
    h1{
    font-size: 10vw;
        }
    }

    